:root{
	--prime-extra-light-color:#EDF6FF;
	--prime-color:#43AFFF;
	--prime-light-color:#43AFFF33;
	--sec-extra-dark-color:#1A253C;
	--sec-dark-color:#303F60;
	--sec-md-dark-color:#4D618E;
	--white:#FFFFFF;
	--grey:#557DA526;
}
@font-face{
	src:url(./fonts/HelveticaNeueLTCom-Lt.ttf);
	font-family: 'Helvetica';
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica', sans-serif;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-size: 16px;
	background: var(--prime-extra-light-color);
	padding-bottom: 20px;
}
.styled-scrollbar::-webkit-scrollbar{
	width:4px;
	height:4px;
	background: transparent;
	border-radius: 20px;
}
.styled-scrollbar::-webkit-scrollbar-thumb{
	background: var(--sec-dark-color);
	border-radius: 20px;
}
.text-grey{
	color:rgb(184, 184, 184);
}
/*------------------------- util styles ---------------------------*/
.prime-color-bg{
	background-color: var(--prime-color);
}
.prime-color-text{
	color: var(--prime-color);
}
.sec-color-text{
	color: var(--sec-dark-color);
}
.full-screen-loader{
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
	min-height: 100vh;
	background: rgba(0,0,0,0.3);
	z-index: 7;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.centered-loader{
	display:flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:100px;
	left:0;
	bottom: 0;
	right:0;
}

/*------------------------------------------- project styles ---------------------------------------*/
/*------------------------- head backgroung -----------------------*/
.head{
	width:100%;
	background: transparent linear-gradient(248deg, var(--sec-dark-color) 0%, var(--sec-extra-dark-color) 100%) 0% 0% no-repeat padding-box;
	opacity: 1;
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index: -1;
}
.head-home{
	height:420px;
}
.head-job{
	height:210px;
}
.head-auth{
	height:360px;
}
/*---------------------------- navbar style -----------------------*/
.nav{
	height:70px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	color:var(--white);
	border-bottom: 3px solid var(--sec-md-dark-color);
	width:90%;
	margin: 0 auto;
}
.logo{
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 2px;
	color:var(--white);
}
.nav-links{
	display:flex;
	justify-content: center;
	align-items: center;
}
.nav-links .nav-item{
	margin-right:10px;
	cursor: pointer;
	color:var(--white);
}
.nav-btn{
	border: 1px solid var(--prime-color);
	background: var(--prime-light-color) 0% 0% no-repeat padding-box;
	border-radius: 5px;
	padding:8px 15px;
	color: var(--white);
	font-size: 16px;
	transition: all 0.2s ease;
}
.nav-btn:hover{
	color: var(--white);
	opacity: 0.7;
}
/*---------------------------- screens style --------------------------*/
/*------------------ home ----------------------*/
.home,.jobs{
	height:100%;
	width:100%;
	min-height: 100vh;
}
.head-content{
	padding: 30px 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.head-left{
	display:flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
.head-heading{
	font-size: 60px;
	font-weight: normal;
	color:var(--white);
	line-height: 75px;
	letter-spacing: 2px;
}
.head-btn{
	background: var(--prime-color);
	border: 1px solid var(--prime-color);
	border-radius: 5px;
	color:var(--white);
	font-size: 16px;
	padding:6px 12px;
	margin-top:20px;
	transition: 0.2s;
}
.head-btn:hover{
	color: var(--white);
	opacity:0.7;
}
.head-right{

}
.head-img{
	height:350px;
	object-fit: contain;
	box-shadow: 0px 30px 36px #557DA526;
	border-radius: 20px;
	transform: translateY(30px);
}
.main{
	margin-top:120px;
}
.info{

}
.info h5,.companies h5{
	color: var(--sec-dark-color);
	font-weight: bolder;
	text-transform: capitalize;
	font-size:1rem;
}
.info-card{
	padding:20px;
	margin-right:20px;
	width:18rem;
	box-shadow: 0px 3px 6px #557DA526;
	border-radius: 5px;
	background: var(--white);
	margin-bottom:20px;
}
.info-card .prime-color-text{
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
}
.info-content{
	font-size: 14px;
	font-weight: normal;
	color:var(--sec-dark-color);
	margin-top:15px;
}
.companies{
	margin-top:40px;
}
.comp-flex{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.comp-logo{
	margin-right:30px;
	align-content: center;
	width:100px;
	padding:10px;
	margin-bottom: 20px;
}
.comp-logo img{
	width:100px;
	height:50px;
	object-fit: cover;
	border-radius:5px;
}
/*---------------- job screen ----------------------*/
.job-group{
	padding-top:10px;
	padding-bottom:20px;
	overflow-y: auto;
	max-height: 500px;
}
.job-card{
	background: var(--white);
	box-shadow: 0px 3px 6px #557DA526;
	border-radius: 5px;
	color:var(--sec-dark-color);
	margin-left:10px;
	width:16rem;
	margin-bottom:10px;
}
.job-card h6{
	font-size: 17px;
	font-weight: bold;
	text-transform: capitalize;
}
.job-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.job-btn{
	padding:6px 15px;
	background: var(--prime-light-color);
	color:var(--sec-dark-color);
	border-radius: 5px;
	border:none;
	outline: none;
	cursor: pointer;
}
.job-btn:hover{
	color:var(--sec-dark-color);
}
.submission{
	text-transform: capitalize;
}
.submission i{
	font-size: 1rem;
	color:var(--prime-color);
	margin-right:10px;
}
.pagination{
	margin:20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-btn{
	padding:2px 5px;
	outline: none;
	border:2px solid var(--sec-dark-color);
	background: none;
	border-radius: 5px;
	color:var(--sec-dark-color);
}
.page-btn[disabled]{
	opacity:0.6;
}
.pagination span{
	margin:0 10px;
}

.avatar{
	width:46px;
	height:46px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: var(--prime-extra-light-color);
	opacity:1;
	border:2px solid var(--sec-dark-color);
}
.avatar img{
	width:46px;
	height:46px;
	border-radius: 50%;
	object-fit: cover;
}
.avatar span{
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bolder;
	color:var(--sec-dark-color);
}

.fav-toast{
	position:absolute;
	top:100px;
	width:90%;
	max-width:350px;
	right:50px;
	z-index: 5;
}
.toast-header .close{
	border:none;
	background: none;
	color:var(--sec-dark-color);
	font-weight: bolder;
	text-transform: lowercase;
	font-size: 1rem;
}
.toast-header .close span:nth-of-type(2){
	display:none;
}
.fav-modal{
	margin:0 auto;
	width:100%;
	max-width: 550px;
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 20px;
	box-shadow: 0px 30px 36px #557DA526;
}
.auth-head{
	color:var(--sec-dark-color);
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: capitalize;
}
.auth-btn{
	color:var(--white);
	background: var(--prime-color);
	padding:8px 30px;
	border-radius: 5px;
	border:none;
	outline: none;
	font-weight: bold;
	transition: all 0.2s;
}
.auth-btn:hover,.auth-round-btn:hover{
	color:var(--white);
	opacity:0.8;
}
.auth-round-btn{
	color:var(--white);
	background: var(--prime-color);
	width:40px;
	height:40px;
	margin-left: 10px;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border:none;
	display: inline-block;
	outline: none;
	font-weight: bold;
	transition: all 0.2s;
}
.cancel-btn{
	background: var(--sec-extra-dark-color);
}
.delete-btn{
	background: red;
}
.user-role{
	padding:6px 15px;
	margin-right:20px;
	background: var(--prime-extra-light-color);
	color:var(--sec-dark-color);
	border:2px solid var(--grey);
	border-radius: 5px;
	cursor: pointer;
}
.user-role span:first-of-type{
	font-size:1.5rem;
	margin-right: 5px;
	color:var(--prime-color);
	font-weight: bolder;
}
.user-role.active{
	color:var(--white);
	background: var(--prime-color);
	border:2px solid var(--prime-color);
}
.user-role.active span:first-of-type{
	color:var(--white);
}
.empty-jobs{
	display: flex;
	justify-content: center;
	align-items: center;
	height:70vh;
	text-align: center;
}
.empty-applications{
	display: flex;
	justify-content: center;
	align-items: center;
	height:300px;
	background: var(--grey);
	border-radius: 5px;
	text-align: center;
}
.empty-icon{
	font-size:4rem;
	color:var(--grey);
}
.app-head{
	border-bottom: 1px solid var(--grey);
	font-size: 1.1rem;
}
.applications,.empty-applications{
	border-radius:5px;
	background: var(--grey);
	padding:5px;
}
.applications{
	display:flex;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	flex-wrap:wrap;
	max-height:400px;
	overflow-y:auto;
	padding:10px;
	position:relative;
}
.application-card{
	padding:10px;
	width:11rem;
	margin-right:5px;
	margin-bottom: 5px;
	background: var(--white);
	border-radius: 5px;
}
.card-head{
	display:flex;
	justify-content: flex-start;
	align-items: center;
}
.app-info{
	margin-left: 10px;
}
.app-info h6{
	font-weight: bold;
	text-transform: capitalize;
}
.card-body{
	margin-top:10px;
	margin-bottom:0;
}
.app-modal{
	padding:10px;
	position: relative;
}
.close-icon{
	position:absolute;
	top:20px;
	right:20px;
	color: var(--sec-dark-color);
	font-size: 1rem;
	cursor:pointer;
}
.modal-content{
	border-radius: 20px;
	box-shadow: 0px 30px 36px #557DA526;
	padding:0;
}
.logout-pop{
	position: absolute;
	top:100%;
	right:0;
	background: var(--white);
	padding: 10px 5px;
	border-radius: 5px;
	z-index: 6;
}
.logout-pop .nav-item{
	color:var(--sec-dark-color);
	font-weight: bold;
	padding:10px 25px;
}
.logout-pop .nav-item:hover{
	background: var(--grey);
}
/* ---------------------------  survey styles --------------------------*/
.questions-section{

}
.questions-group{
	padding:10px 0;
}
.question{
	margin-top: 10px;
}
.options{
	padding-left: 20px;
}
.pointer-icon{
	cursor: pointer;
	margin-left: 7px;
	opacity:0.5;
	transition: 0.2s;
}
.question:hover .pointer-icon{
	opacity: 1;
}


/*--------------------------- Page not found style ----------------------------*/
.flex-container{
	height:80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pnf-illustration{
	object-fit: cover;
	width:400px;
}

/*--------------------------- media queries ----------------------------------*/
@media all and (max-width:970px){
	.head-heading{
		font-size: 48px;
	}
	.head-img{
		height:250px;
	}
}
@media all and (max-width:750px){
	.head-heading{
		font-size: 36px;
	}
	.head-img{
		height:200px;
	}
}
@media all and (max-width:640px){
	.head-content{
		flex-direction: column;
		padding: 30px 20px;
		text-align: center;
	}
	.head-btn{
		margin: auto;
		margin-top:20px;
	}
	.comp-logo{
		margin-right:8px;
	}
	.fav-toast{
		left:50%;
		transform: translateX(-50%);
		top:50px;
	}
	.application-card{
		width:14rem;
	}
}
@media all and (max-width:370px){
	.head-content{
		align-items: flex-start;
		text-align: left;
	}
	.head-btn{
		margin: 20px 0 0 0;
	}
}

